.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content * {
    height: 100%;
    width: 100%;
    font-size: larger;
}

.heading h2{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}