<div class="custom-directive-content">
    <div class="heading">
        <h3>Custom Directive</h3>
    </div>
    <div class="body">
        <div class="directives">
            <div myColor>
                <p>
                    This is demostration of custom directives with myColor
                </p>
            </div>
            <div myEvent>
                <p>
                    This is demostration of custom directives with myEvent
                </p>
            </div>
            <div>
                <p>
                    This is demostration of custom directives without any directive
                </p>
            </div>
        </div>
    </div>
</div>